
.item {
  width: 100%;              
  max-width: 280px;        
  margin: 0 auto;          
  background: #ffffff;
  border-radius: 14px;
  padding: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* image */
.item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

/* name */
.item p {
  margin: 6px 0;
  font-size: 14px;
  text-align: center;
  color: #171717;
}

/* prices */
.item-prices {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.item-price-new {
  color: #374151;
  font-size: 16px;
  font-weight: 600;
}

.item-price-old {
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 500;
  text-decoration: line-through;
}


.item:hover {
  transform: translateY(-6px);
  box-shadow: 0 16px 35px rgba(0,0,0,0.12);
}

/* ===== TABLET ===== */
@media (min-width: 600px) {
  .item {
    max-width: 300px;
  }

  .item p {
    font-size: 15px;
  }
}

/* ===== DESKTOP ONLY ===== */
@media (min-width: 1024px) {
  .item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .item:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
  }
}
