* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

.app {
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #fff6e5 0%,
    #fff 40%,
    #dcd2de 100%
  );
}
